.footer {
  padding: 80px 155px 24px;
  background-color: var(--color-gray-light);
  text-align: left;
  position: relative;
  overflow: hidden;

  &::before {
    font-family: "OpenSansSemiBold";
    font-size: 200px;
    content: "A / F";
    position: absolute;
    top: 100px;
    left: -20px;
    color: var(--color-white);
    z-index: 1;
  }
  h6 {
    font-family: "WorkSansRegular";
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: var(--color-black);
    margin-bottom: 30px;
  }
  &--left {
    padding-right: 150px;
    label {
      display: block;
      font-family: "OpenSansRegular";
      font-size: 14px;
      color: var(--color-gray);
    }
    input {
      width: 100%;
      padding: 8px 0;
      border: none;
      border-bottom: 1px solid #c4c4c4;
      background-color: transparent;
      margin-bottom: 30px;
    }
    img {
      margin-right: 20px;
    }
  }
  &--right {
    padding-right: 70px;
    &__container {
      display: flex;
      justify-content: space-between;
    }
    li {
      margin-bottom: 12px;
    }
    a {
      font-size: 14px;
      line-height: 167.5%;
      color: var(--color-gray);
    }
  }

  &--top {
    padding-bottom: 70px;
    position: relative;
    z-index: 2;
  }

  &--bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;

    & p {
      font-family: "OpenSansLight";
      font-size: 12px;
      line-height: 167.5%;
      text-align: center;
      color: #c4c4c4;
    }
  }
}

@media (max-width: 992px) {
  .footer {
    &::before {
      text-align: center;
      width: 100%;
      font-size: 125px;
      top: initial;
      bottom: -20px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

@media (max-width: $size-tablet) {
  .footer {
    padding: 40px 16px 16px;
    &--left {
      padding-right: 0;
      margin-bottom: 40px;
    }
  }
}

@media (max-width: $size-mobile) {
  .footer {
    &--right__container {
      flex-direction: column;
    }
  }
}
