html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.03em;
}

*:focus {
  outline: none;
}

body {
  overflow-x: hidden;
  font-family: $font-main, sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
  text-align: center;
  color: var(--color-black);
}

a {
  &:focus {
    outline: none;
  }

  &,
  &:link,
  &:visited {
    color: inherit;
    text-decoration: none;
  }
}

@for $i from 1 through 6 {
  h#{$i} {
    margin: 0;
  }
}

.mt-auto {
  margin-top: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.no-pointer {
  pointer-events: none;
}

.cursor-pointer {
  cursor: pointer;
  user-select: none;
}

.overflow-hidden {
  overflow: hidden;
}

@each $name, $weight in $font-weights {
  .font-weight-#{$name} {
    font-family: $font-main, sans-serif;
    font-weight: $weight;
  }
}

@each $name, $color in $colors {
  .color-#{$name} {
    color: $color;
  }
}

@each $name, $color in $colors {
  .theme-#{$name} {
    background-color: $color;
  }
}
