$grid-widths: (420px, 576px, 768px, 992px, 1200px, 1400px);

@mixin content($name: "") {
  .text#{$name}-start {
    text-align: start;
  }
  .text#{$name}-end {
    text-align: end;
  }
  .text#{$name}-center {
    text-align: center;
  }
  .text#{$name}-upper {
    text-transform: uppercase;
  }
  .text#{$name}-no-wrap {
    white-space: nowrap;
  }
  .d#{$name}-flex {
    display: flex;
  }
  .d#{$name}-none {
    display: none;
  }
  .d#{$name}-block {
    display: block;
  }
  .d#{$name}-inline-block {
    display: inline-block;
  }
  .justify#{$name}-start {
    justify-content: flex-start;
  }
  .justify#{$name}-end {
    justify-content: flex-end;
  }
  .justify#{$name}-center {
    justify-content: center;
  }
  .justify#{$name}-between {
    justify-content: space-between;
  }
  .justify#{$name}-around {
    justify-content: space-around;
  }
  .justify#{$name}-evenly {
    justify-content: space-evenly;
  }
  .align#{$name}-start {
    align-items: flex-start;
  }
  .align#{$name}-end {
    align-items: flex-end;
  }
  .align#{$name}-center {
    align-items: center;
  }
  .flex#{$name}-row {
    flex-direction: row;
  }
  .flex#{$name}-column {
    flex-direction: column;
  }
  .wrap#{$name} {
    flex-wrap: wrap;
  }
  .no-wrap#{$name} {
    flex-wrap: wrap;
  }
  @for $offset from 0 through 50 {
    .m#{$name}-#{$offset} {
      margin: #{$offset}px !important;
    }
    .mt#{$name}-#{$offset} {
      margin-top: #{$offset}px !important;
    }
    .mb#{$name}-#{$offset} {
      margin-bottom: #{$offset}px !important;
    }
    .ml#{$name}-#{$offset} {
      margin-left: #{$offset}px !important;
    }
    .mr#{$name}-#{$offset} {
      margin-right: #{$offset}px !important;
    }
    .mx#{$name}-#{$offset} {
      margin-left: #{$offset}px !important;
      margin-right: #{$offset}px !important;
    }
    .my#{$name}-#{$offset} {
      margin-top: #{$offset}px !important;
      margin-bottom: #{$offset}px !important;
    }
    .p#{$name}-#{$offset} {
      padding: #{$offset}px !important;
    }
    .pt#{$name}-#{$offset} {
      padding-top: #{$offset}px !important;
    }
    .pb#{$name}-#{$offset} {
      padding-bottom: #{$offset}px !important;
    }
    .pl#{$name}-#{$offset} {
      padding-left: #{$offset}px !important;
    }
    .pr#{$name}-#{$offset} {
      padding-right: #{$offset}px !important;
    }
    .px#{$name}-#{$offset} {
      padding-left: #{$offset}px !important;
      padding-right: #{$offset}px !important;
    }
    .py#{$name}-#{$offset} {
      padding-top: #{$offset}px !important;
      padding-bottom: #{$offset}px !important;
    }
  }
}

@include content();

@each $n in $grid-widths {
  @media (min-width: $n) {
    @if $n == 420px {
      @include content("-xs");
      @include grid("xs");
    } @else if $n == 576px {
      @include content("-sm");
      @include grid("sm");
    } @else if $n == 768px {
      @include content("-md");
      @include grid("md");
    } @else if $n == 992px {
      @include content("-lg");
      @include grid("lg");
    } @else if $n == 1200px {
      @include content("-xl");
      @include grid("xl");
    } @else if $n == 1400px {
      @include content("-xxl");
      @include grid("xxl");
    }
  }
}
