$font-main: "OpenSansRegular";

$size-desktop: 1680px;
$size-desktop-small: 1020px;
$size-tablet: 800px;
$size-mobile: 600px;

$font-weights: (
  ("thin", 100),
  ("extra-light", 200),
  ("light", 300),
  ("regular", 400),
  ("medium", 500),
  ("semi-bold", 600),
  ("bold", 700),
  ("extra-bold", 800)
);

$colors: (
  "cloud": #fbfbfb,
  "black": #000000,
  "white": #ffffff,
  "gray": #7e7e7e,
  "gray-light": #f1f1f1,
  "gray-dark": #353535,
  "gold": #c2a578,
);

:root {
  @each $name, $color in $colors {
    --#{'color-' + $name}: #{$color};
  }
}
